@use './partial/variable' as *;
@import '~bootstrap/scss/bootstrap';

.header-top{
 background-color: $bg-primary;
}
.active{
    color: $bg-primary;

}
.border_active{
    border-bottom: 4px solid $bg-primary;
    height: 95px;
}

.search_border{
    border-bottom: 3px solid $bg-primary;
    > input::-webkit-input-placeholder{
        text-align: end;
    }
}

#jumbotron{
    background-image: url('../img/jumbotron.jpg');
    height: 600px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.title-section{
    position: relative;
    bottom: 70px;
}

.action_badge > img{
    width: 70px;
}
.footer_top{
    background-image: url('../img/footer-bg.jpg');
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_footer{
    color: $text-footer;
}

#actions_comics{
    position: relative;
    z-index: 5;
}

.logo_footer{
    transform: translatey(-120px);
}
.footer_bottom{
    height: 200px;
    position: relative;
    z-index: 5;
    .sign_up > button{
        border: 2px solid $bg-primary;
    }

    .follow > h5{
        color: $bg-primary;
    }
}